
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
    /* CSS HEX */
    --night: #090c08ff;
    --non-photo-blue: #84c7d0ff;
    --cool-gray: #9297c4ff;
    --tan: #cbac88ff;
    --eerie-black: #1e2019ff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: var(--night);

}


font {
    font-family: 'Roboto', sans-serif;
}


#img-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
}


h2 {
    color: var(--non-photo-blue);
    margin-bottom: 10px;


}

img {
    height: 100%; 
    border-radius: 20px;
}



button {
    margin: 10px;
    height: 40px;
    border-radius: 20px;
    width: 130px;
    background-color: var(--tan); 
    border-color: var(--tan);
    box-shadow: 0 0 5px 0 var(--cool-gray);
}

button:hover {
    scale: 1.1;
    border-color: var(--non-photo-blue);
}

